@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdfaf6;
  font-family: 'Patrick Hand', cursive;
  background-image: radial-gradient(#e2e2e2 0.5px, transparent 0.5px);
  background-size: 16px 16px;
}